* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #ECEEF1;
    height: 100%;
    margin: 0px;
    font-family:  Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 3px;
    grid-template-areas: "h h h h h h" "w w w w w w" "f f f f f f";
}

 /* Page Header */
.header {
    background-color: transparent;
    grid-area: h;
    height: 40px;
    padding: 10px 20px 40px 20px;
}
.navigation {
    display: inline-flex;
    float: right;
    padding-left: 10px;
}
.navigation p {
    font-size: 14px;
    line-height: 18px;
}
.navigation input {
    margin-left: 10px;
    padding: 6px 25px;
    height: 35px;
}
 /* FORM WRAPPER */
.form-wrapper {
    justify-self: center;
    text-align: center;
    width: 318px;
    padding: 30px;
    border: 1px solid rgb(199, 199, 199);
    background-color: rgb(255, 255, 255);
    grid-area: w;
    margin-bottom: 20px;
}

.form-wrapper p {
    font-size: 14px;
    color: rgb(76, 76, 76);
}
.form-description {
    padding-bottom: 20px;
}
.form-description h2 {
    padding-bottom: 20px;
    font-weight: 500;
    color: rgb(76, 76, 76);
}
 .bottom {
    color: rgb(76, 76, 76);
    font-size: 13px;
}

 /* FORM STYLING */
form {
    text-align: start;
}
form > label {
    font-size: 13px;
}
form input {
    width: 97%;
    line-height: 25px;
    padding: 0px;
    font-size-adjust: inherit;
    margin: 6px 10px 26px 0px;
    border-color: rgb(193, 197, 200);
    border-width: 1px;
    border-style: double;
    border-radius: 3px;
}
#email, #phone, #password {
    padding-left: 10px;
}
#submit {
    box-sizing: border-box;
    height: 44px;
    padding: 6px 12px;
    width: 100%;
    background: #0077C5;
    border: #0077C5;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255)
}
.captcha {
    margin: 32px -30px -30px -30px;
    padding: 16px;
    text-align: center;
    background-color: #ECEEF1;
    font-size: 10px !important;
}

 /*  PAGE FOOTER */


.footer {
    background-color: transparent;
    grid-area: f;
}
.footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer li {
    color: rgb(76, 76, 76);
    font-size: 12px;
    padding: 3px 5px;

}

.about {
    color: rgb(76, 76, 76);
    font-size: 12px;
    line-height: 20px;
    line-break: auto;
    margin: 0 auto;
    width: 88%;
    text-align: center;
}